<!DOCTYPE html>
<html>
<head>
	<title>{{capitulo.nomeCapitulo}}</title>
</head>
<body>
	<h2>{{capitulo.nomeCapitulo}}</h2>
	<img src='{{ capitulo.capa.url }}' width="200px" height="200px">
	<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %} 
		{{ form.as_p }} 
		<input type="submit" value="Salvar Alterações" /> 
		<button><a href="/profile/capitulo/{{ capitulo.id }}/deletar">Deletar capitulo</a></button>
	</form>
	<a href="/profile/pagina/{{capitulo.id}}/new/">Criar capitulo</a>
	<hr>
	{% for pagina in paginas %}
		<img src='{{ pagina.pagina.url }}' width="200px" height="200px">
		<a href="/profile/pagina/{{pagina.id}}/deletar/">Deletar Pagina</a>
	{% endfor %}
	<form action="/profile/pagina/{{capitulo.id}}/new/" method="POST" enctype="multipart/form-data">
		{% csrf_token %} 
		{{ form2.as_p }} 
		<input type="submit" value="Enviar nova página" /> 
	</form>
</body>
</html>