{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Minha Conta</title>
</head>
<body>
	<h1>{{nomeUsuario}}</h1>
	{% if obras %}
		<table border=1px>
		<tr>
	    		<th colspan="2">Lista de Obras</td>
	    		<th>Ativada</td>
	    </tr>
	    {% for obra in obras %}
	    	<tr>
	    		<th><img src='{{ obra.capa.url }}' width="200px" height="200px"></td>
	    		<th><a href='profile/obra/{{ obra.id }}/alterar'>{{ obra }}</a></td>
	    		<th>{{ obra.ativada }}</td>
	    	</tr>
	    {% endfor %}
	    </table>
	{% else %}
	    <p>Nenhuma obra</p>
	{% endif %}
	<a href="profile/obra/new">Criar Obra</a>
</body>
</html>