{% extends 'template.html' %}
{% block content %}
<h1>Lista de obras de {{user.username}}</h1>

{% if obras %}
	<table class="w3-table-all">
    {% for obra in obras %}
    	<tr>
    		<td>
    		<h2>{{obra.nomeObra}}</h2>
    		<a href='profile/obra/{{ obra.id }}/alterar'>
    			<img src='{{ obra.capa.url }}' width="210px" height="290px">
    		</a>
    		</td>
    		<td>
    		<p><big>Sinopse:</big></br>{{obra.sinopse}}</p>
    		<p><big>Status:</big></br>
    			{% if obra.ativada %}Disponivel para visualização{%else%}Indisponivel para visualização{%endif%}
    		</p>
    		<a href='profile/obra/{{ obra.id }}/alterar' class="w3-btn w3-blue-grey"><big>Editar</big></a>
    		</td>
    	</tr>
    {% endfor %}
    </table>
{% else %}
    <h2>Nenhuma obra...</h2>
{% endif %}

<a href="profile/obra/new" class="w3-btn w3-blue-grey"><h3>Criar Obra</h3></a>
{% endblock %}